.exponents-importance-paragraph-list{
    list-style-type: square;
}

.topic-list::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar{
    width: 0;
}

.topic-list::-webkit-scrollbar-thumb {
    background-color: #aec2cc;
    border-radius: 2px;
}

.content-list::-webkit-scrollbar-thumb{
    background-color: #6497b1;
    border-radius: 10px;
}

.content-list::-webkit-scrollbar{
    width: 0.5rem;
}

.topic-list::-webkit-scrollbar-thumb:hover {
    background-color: #cfd9de;
}

a{
    text-decoration: none;
    color: #e4e4e4;
}

.attribution-link {
    display: none;
  }

  .background-section {
    background-color: #03396c;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Adjust the z-index as needed */
}
.title-section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6497b1;
    height: 90px;
    z-index: 1000;
    margin-top: 50px;
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin-left: 40px;
}

.logo{
    height: 60px;
    cursor: pointer;
}

.logo-name{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-left: 10px;
    color: rgb(1, 31, 75);
    letter-spacing: .5px;
    font-weight: 700;
    text-shadow: 1px;
    cursor: pointer;
}

.middle-section{
    display: flex;
    flex: 1;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-bar{
    height: 25px;
    border-radius: 5px;
    flex: 1;
    width: 0;
    border-width: 1px;
    border-color: #787878;
    box-shadow: inset 1px 2px 3px rgb(1, 31, 75, 0.2);
    background-color: #b3cde0;
    color: rgb(0, 0, 0);
    font-family: roboto, arial;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    letter-spacing: .5px;  
}

.search-bar::placeholder{
    color:#000000 !important;
    font-family: Roboto, arial;
}

.search-button{ 
    background: none;
    border: none;
    padding: 0;
    cursor: text;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); 
}

.search-button i{
    font-size: 18px;
    margin-right: 4px;   
}

.navigation ul {
    text-decoration: none !important;
    list-style-type: none !important; 
    padding-left: 0; 
}

.navigation a{
    text-decoration: none;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-right: 40px;
}

.about{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-size: 14px !important;
    cursor: pointer !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.donate{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.show-dropdown {
    display: block !important;
}  

.courses-list-container{
    position: relative;
}

#coursesButton.active{
    color: #ffffff;
    transition-duration: 0.3s;
}

.content-list{
    display: none;
    font-family: noto sans, "sans-serif";
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    position: absolute;
    right: -80px;
    top: 54px;
    width: 50em;
    max-height: 500px;
    overflow-y: auto;
    background-color: #03396c;
    color: #6497b1;
    scroll-behavior: smooth;
}

.content-list-title-1{
    font-family: noto sans, "sans-serif";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.content-list-digital-sat{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.custom-link{
    text-decoration: none;
    color: rgb(197, 195, 195);
}

.subtitle-of-content{
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.content-list-digital-sat-math{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 1rem;
}

.content-list-digital-sat-english{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-left: 7rem;
}

.courses{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.university{
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

body{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: 500;
    scroll-behavior: smooth;
} 

.main-div{
    display: block;
    flex-direction: row;
    margin-top: 141px;
    max-height: calc(93vh - 141px);
    overflow-y: auto;
}

.topic-list-part{
    display: block;
    position: fixed;
    padding-left: 50px;
    margin-top: 20px;
    width: 20em;
    height: 78%;
    background-color: #dfeaf0;
    box-shadow: 2px 2px 10px #6f8aa2;
    padding-top: 2em; 
    border-radius: 10px;
}

.topic-list-part-title{
    font-family: Nunito, sans-serif;
    margin: 0;
    font-size: 22px;
    padding-bottom: 15px;
    color: #272727;
    
}

.topic-list{
    display: flex;
    flex-direction: column;
    margin-left: -39px;
    max-height: 42em;
    overflow-y: auto;
    padding-right: 10px;
}

.topic-list-content{
    margin: 0;
    list-style-type: none;
    cursor: pointer;
}


.topic-count{
    font-family: nunito, noto sans, sans-serif;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding-bottom: 3px;
    padding-top: 12px;
}

.topic-list-content-exponents-and-radicals{
    font-family: lato, noto sans, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.798);
    padding-left: 5px;
    padding-bottom: 12px;   
    border-bottom: 1px solid #03396c12;
    border-top: 1px solid #03396c12;
    transition-duration: 0.3s;
}

.topic-list-content-absolute-value,
.topic-list-content-proportion,
.topic-list-content-percent,
.topic-list-content-unit-conversions,
.topic-list-content-expressions,
.topic-list-content-exponential-equations,
.topic-list-content-linear-equations,
.topic-list-content-quadratic-equations,
.topic-list-content-polynomial-equations,
.topic-list-content-logarithmic-functions,
.topic-list-content-rational-functions,
.topic-list-content-inequalities,
.topic-list-content-word-problems,
.topic-list-content-functions,
.topic-list-content-quadratics,
.topic-list-content-synthetic-division,
.topic-list-content-real-numbers,
.topic-list-content-complex-numbers,
.topic-list-content-angles,
.topic-list-content-triangles,
.topic-list-content-circles,
.topic-list-content-trigonometry,
.topic-list-content-probability {
    -webkit-font-smoothing: antialiased !important;
    font-family: lato, noto sans, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.798);
    padding-bottom: 12px;
    padding-left: 5px;
    border-bottom: 1px solid #03396c12;
    transition-duration: 0.3s;
}

.topic-list-content-statistics{
    -webkit-font-smoothing: antialiased !important;
    font-family: lato, noto sans, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.798);
    padding-bottom: 12px;
    padding-left: 5px;
    border-bottom: 1px solid #03396c12;
    transition-duration: 0.3s;
}

.question-part{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 40em;
    margin-right: 19em;
}

.exponents-title{
    text-align: center !important;
    font-family: lato, noto sans, sans-serif;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 2px solid #e9eaea;
    padding-bottom: 10px;
}

.exponents-introduction{
    font-family: lato, noto sans, sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 0;
    margin-top: 15px;
    padding-bottom: 15px;
}

.exponents-introduction-paragraph{
    font-family: lato,noto sans,sans-serif !important;
    letter-spacing: .5px !important;
    margin: 0 !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(33, 36, 44) !important;
    border-bottom: 1px #dbdbdb solid !important;
    padding-bottom: 10px !important;
}

.exponents-example{
    font-family: lato, noto sans, sans-serif !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    letter-spacing: .5px !important;
    margin: 0 !important;
    padding-top: 40px !important;
    padding-bottom: 15px !important;
}

.exponents-example-paragraph{
    font-family: lato,noto sans,sans-serif !important;
    letter-spacing: .5px !important;
    margin: 0 !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(33, 36, 44) !important;
}

.exponents-example-paragraph-solution{
    font-family: lato,noto sans,sans-serif !important;
    letter-spacing: .5px !important;
    margin: 0 !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: rgb(33, 36, 44) !important;
    border-bottom: 1px #dbdbdb solid !important;
    padding-bottom: 10px !important; 
}

.exponents-importance{
    font-family: lato, noto sans, sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: .5px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 15px;
    letter-spacing: .5px;
}

.exponents-importance-paragraph{
    font-family: lato,noto sans,sans-serif;
    letter-spacing: .5px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(33, 36, 44);
}

.exponents-importance-paragraph-list{
    font-family: lato,noto sans,sans-serif;
    letter-spacing: .5px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(33, 36, 44);
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: inherit
}

.exponents-importance-paragraph-2nd{
    font-family: lato,noto sans,sans-serif;
    letter-spacing: .5px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(33, 36, 44);
}

.exponents-importance-paragraph-3rd{
    font-family: lato,noto sans,sans-serif;
    letter-spacing: .5px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgb(33, 36, 44);
    padding-top: 20px;
    padding-bottom: 40px;
}

.exponents-start-now-button{
    font-family: lato,noto sans,sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 0;
    font-weight: 800;
    font-size: 16px;
    background-color: #011f4b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
    border-radius: 6px;
    border: 0;
    color: rgb(255, 255, 255);
}

.exponents-start-now-button:hover{
    color: rgb(255, 255, 255);
    background-color: #011f4bdc;
    transition-duration: 0.3s;
}

.last-part-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Change to fixed if you want it to stay at the bottom of the screen */
    bottom: 0.1em; 
    left: 28em; 
    width: 92rem;
    height: 3.9em;
    background-color: #dfeaf0;
    box-shadow: 2px 2px 10px #6f8aa2;
    border-radius: 10px;
    transition-duration: .3s;
}

.question-previous{
    font-family: nunito, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #011f4b;
    border-style: solid;
    border-radius: 6px;
    border: 0;
    color: white;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.question-previous:hover{
    background-color: #011f4ba9;
    transition-duration: 0.2s;
}

.placeholder-previous {
    width: 152px; 
    visibility: hidden; 
}


.question-search-bar{
    font-family: noto sans, sans-serif;
    width: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border: none;
    border-radius: 2px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #011f4b;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.question-search-bar::placeholder{
    color: rgb(234, 234, 234) !important;
    font-family: noto sans, sans-serif;
}

.question-check{
    font-family: nunito, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #011f4b;
    border-style: solid;
    border-radius: 6px;
    border: 0;
    color: white;
    cursor: pointer;
    padding-left: 35.5px;
    padding-right: 35.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.question-check:hover{
    background-color: #011f4ba9;
    transition-duration: 0.2s;
}

.question-next{
    font-family: nunito, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #011f4b;
    border-style: solid;
    border-radius: 6px;
    border: 0;
    color: white;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.question-next:hover{
    background-color: #011f4ba9;
    transition-duration: 0.2s;
}

.question-finish{
    font-family: nunito, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: #011f4b;
    border-style: solid;
    border-radius: 6px;
    border: 0;
    color: white;
    cursor: pointer;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 15px;
}

.question-finish:hover{
    background-color: #011f4ba9;
    transition-duration: 0.2s;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7a7a7a55; /* Semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
    opacity: 0;
    transition-duration: 0.3s;
}

.loader-div{
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    width: 7em;
    height: 7em;
    background: #03396c; /* Semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.loader {
    border: 3px solid #ffffff; /* Light grey border */
    border-top: 3px solid #000000; /* Blue border */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
