a{
    text-decoration: none;
    color: #e4e4e4;
}

.attribution-link {
    display: none;
  }

.background-section {
    background-color: #03396c; /* Change this to your desired color */
    height: 50px;
}

.title-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #6497b1;
    height: 90px;
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    margin-left: 40px;
}

.logo{
    height: 60px;
    cursor: pointer;
}

.logo-name{
    font-family: roboto, sans-serif;
    font-size: 40px;
    margin-left: 10px;
    color: rgb(1, 31, 75, 20%);
    letter-spacing: .5px;
    font-weight: 900;
    text-shadow: 1px;
    cursor: pointer;
    background-image: url(picture/Palestine_240-animated-flag-gifs.gif);
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    background-position: center;
}

.middle-section{
    display: flex;
    flex: 1;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar-container{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-bar{
    height: 25px;
    border-radius: 5px;
    flex: 1;
    width: 0;
    border-width: 1px;
    border-color: #787878;
    box-shadow: inset 1px 2px 3px rgb(1, 31, 75, 0.2);
    background-color: #b3cde0;
    color: rgb(0, 0, 0);
    font-family: roboto, arial;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    letter-spacing: .5px;  
}

.search-bar::placeholder{
    color:#000000 !important;
    font-family: Roboto, arial;
}

.search-button{ 
    background: none;
    border: none;
    padding: 0;
    cursor: text;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%); 
}

.search-button i{
    font-size: 18px;
    margin-right: 4px;   
}

.navigation ul {
    text-decoration: none !important;
    list-style-type: none !important; 
    padding-left: 0; 
}

.navigation a{
    text-decoration: none;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-right: 40px;
}

.about{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    font-size: 14px !important;
    cursor: pointer !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.about:hover{
    color: #c6c6c6;
}

.donate{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.donate:hover{
    color: #c6c6c6;
}

.show-dropdown {
    display: block !important;
}  

.courses-list-container{
    position: relative;
    z-index: 2;
}

#coursesButton.active{
    color: #c6c6c6;
    transition-duration: 0.3s;
}

.content-list{
    display: none;
    font-family: noto sans, "sans-serif";
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    position: absolute;
    right: -80px;
    top: 54px;
    width: 50em;
    max-height: 500px;
    overflow-y: auto;
    background-color: #03396c;
    color: rgb(197, 195, 195);
    scroll-behavior: smooth;
}

.content-list-title-1{
    font-family: noto sans, "sans-serif";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.content-list-digital-sat{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.custom-link{
    text-decoration: none;
    color: #6497b1;
    font-size: 16px;
    cursor: text;
    padding: 0;
    margin: 0;
}

.subtitle-of-content{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 17px;
    color: rgb(197, 195, 195);
}

.content-list-digital-sat-math{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 8px;
}

.content-list-digital-sat-english{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 7rem;
}

.courses{
    margin-right: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.courses:hover{
    color: #c6c6c6;
}

.content-list::-webkit-scrollbar-thumb{
    background-color: #6497b1;
    border-radius: 10px;
}

.content-list::-webkit-scrollbar{
    width: 0.5rem;
}

.university{
    color: rgb(0, 0, 0);
    cursor: pointer !important;
    font-size: 14px !important;
    font-family: railway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition-duration: 0.3s;
}

.university:hover{
    color: #c6c6c6;
}

body{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: 500;
    scroll-behavior: smooth;
} 

.main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.main-title{
    font-family: noto sans, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 34px;
}

.tac-1{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #03396c;
    color: #e3e3e3;
}

.tac-1-1{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-1-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-1-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-2{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #164876;
    color: #e3e3e3;
}

.tac-2-2{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-2-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-2-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-3{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2d567c;
    color: #e4d8d8;
}

.tac-3-3{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-3-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-3-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-4{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #455f77;
    color: #e3e3e3;
}

.tac-4-4{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-4-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-4-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-5{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #83acd3;
}

.tac-5-5{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-5-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-5-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-6{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #9ab1c7;
}

.tac-6-6{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-6-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-6-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-7{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6497b1;
}

.tac-7-7{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-7-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-7-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.dot-sequence {
    list-style-type: square;
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-8{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7893ad;
}

.tac-8-8{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-8-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-8-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-9{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #b6cce0;
}

.tac-9-9{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-9-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-9-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.tac-10{
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    padding-left: 236px;
    padding-right: 250px;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #c5d3e0;
}

.tac-10-10{
    font-family: roboto, sans-serif;
    font-size: 25px;
    margin-right: 20px;
}

.tac-10-title{
    font-family: noto sans, sans-serif;
    font-size: 25px;
    letter-spacing: .1px;
}

.tac-10-paragraph{
    font-family: poppins, sans-serif;
    font-size: 18px;
    letter-spacing: .3px;
    line-height: 34px;
}

.end-part{
    display: flex;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    background-color: #01213e;
}

.end-part-paragraph{
    font-family: poppins, sans-serif;
    color: #ffffff;
    letter-spacing: .5px;
    font-weight: 500;
    line-height: 34px;
    font-size: 18px;
    max-width: 500px;
}

.end-part-important-links{
    display: flex;
    flex-direction: column;
    margin-left: 18em;
    flex: 1;
}

.end-part-important-links-title{
    font-family: poppins, sans-serif;
    color: #ffffff;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.important-links-about{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    margin: 0;
    margin-bottom: 10px;
}

.important-links-privacy-policy{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
}

.important-links-terms-and-condition{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    margin: 0;
    margin-bottom: 10px;
}

.important-links-donate{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    margin: 0;
}

.end-part-contact{
    display: flex;
    flex-direction: column;
}

.end-part-contact-title{
    font-family: poppins, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.end-part-contact-facebook-section{
    display: flex;
    align-items: center;
}

.end-part-contact-facebook{
    font-size: 25px;
    color: #ffffff;
}

.end-part-contact-facebook-paragraph{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 12px;
    color: #e4e4e4;
}

.end-part-contact-twitter-section{
    display: flex;
    align-items: center;
}

.end-part-contact-twitter{
    font-size: 25px;
    color: #ffffff;
}

.end-part-contact-twitter-paragraph{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 13px;
    color: #e4e4e4;
}

.end-part-contact-youtube-section{
    display: flex;
    align-items: center;
}

.end-part-contact-youtube{
    font-size: 25px;
    color: #ffffff;
}

.end-part-contact-youtube-paragraph{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #e4e4e4;
    margin-left: 10px;
}

.end-part-contact-linkedin-section{
    display: flex;
    align-items: center;
}

.end-part-contact-linkedin{
    font-size: 25px;
    color: #ffffff;
}

.end-part-contact-linkedin-paragraph{
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #e4e4e4;
    margin-left: 17px;
}

.all-rights-reserve-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01213e;
    padding-bottom: 15px;
}

.last-logo{
    width: 70px;
}

.all-rights-reserve{
    font-family: noto sans, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #e4e4e4;
    margin-left: 10px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7a7a7a55; /* Semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
    opacity: 0;
    transition-duration: 0.3s;
}

.loader-div{
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    width: 7em;
    height: 7em;
    background: #03396c; /* Semi-transparent white */
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.loader {
    border: 3px solid #ffffff; /* Light grey border */
    border-top: 3px solid #000000; /* Blue border */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}