.question-part{
    display: block;
    width: 750px;
    padding-left: 10em;
    margin-right: 24em;
    padding-bottom: 50px;
    padding-top: 25px;
}

.title{
    text-align: center !important;
    font-family: lato, "noto sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
}

.subtitle{
    text-align: center !important;
    font-family: lato, noto sans, sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 30px;
    letter-spacing: .5px;
}

.number-bar {
    width: 100%;
    height: 30px; 
    background: rgba(128, 128, 128, 0.672);
    display: flex;
    align-items: center; 
  }
  
.number-bar span {
    display: inline-block;
    background: rgb(0, 0, 0);
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    align-items: center;
    display: flex;
    color: white;
    font-family: lato, noto sans, sans-serif;
}

.question-list{
    margin: 0;
    padding: 0;
}

.graph-question{
    width: 50%;
    padding-left: 40px !important;
    padding-top: 25px !important;
}

.graph-question-linear20{
    width: 25%;
    padding-left: 40px !important;
    padding-top: 25px !important;
}

.graph-question-linear23{
    width: 40%;
    padding-left: 40px !important;
    padding-top: 25px !important;
}

.question{
    font-family: lato, noto sans, sans-serif;
    font-size: 21px !important;
    font-weight: 400 !important;
    line-height: 40px !important;
    color: rgb(33, 36, 44) !important;
    letter-spacing: .5px !important;
    margin: 0 !important;
    padding-top: 25px !important;
    padding-bottom: 15px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.option-1-container{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.option-1{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #011f4b;
    color: #011f4b;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    min-height: 25px;
    min-width: 26px;
}

.choice-1{
    font-size: 20px;
    font-weight: 400;
    font-family: lato, noto sans, sans-serif;
    color: black;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
}

.option-2-container{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.option-2{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #011f4b;
    color: #011f4b;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    min-height: 25px;
    min-width: 26px;
}

.choice-2{
    font-size: 20px;
    font-weight: 400;
    font-family: lato, noto sans, sans-serif;
    color: black;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
}

.option-3-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.option-3{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #011f4b;
    color: #011f4b;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    min-height: 25px;
    min-width: 26px;
}

.choice-3{
    font-size: 20px;
    font-weight: 400;
    font-family: lato, noto sans, sans-serif;
    color: black;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
}

.option-4-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.option-4{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #011f4b;
    color: #011f4b;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    min-height: 25px;
    min-width: 26px;
}

.choice-4{
    font-size: 20px;
    font-weight: 400;
    font-family: lato, noto sans, sans-serif;
    color: black;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
}

.option-5-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.option-5{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    margin-left: 5px;
    background-color: transparent;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    border-color: #011f4b;
    color: #011f4b;
    cursor: pointer;
    padding: 0;
    padding-bottom: 2px;
    min-height: 25px;
    min-width: 26px;
}

.choice-5{
    font-size: 20px;
    font-weight: 400;
    font-family: lato, noto sans, sans-serif;
    color: black;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    cursor: pointer;
}

.input-button{
    margin: 0;
    padding: 0;
    padding-bottom: 1.5em;
    padding-left: 50px;
}

.input-answer{
    font-family: lato, noto sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-style: solid;
    border-radius: 3px;
    color: #011f4b;
    border-color: #011f4b;
    max-lines: 1;
    padding: 0;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.button-show-explanation{
    margin-top: 20px;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: nunito, noto sans, sans-serif;
    font-size: 14px;
    color: rgb(125, 125, 125);
    padding-bottom: 5px;
    text-align: start;
    letter-spacing: 0.5px;
    width: fit-content;
}

.explanation{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    font-family: lato, noto sans, sans-serif;
    font-size: 20px;
    line-height: 55px;
    letter-spacing: .5px;
    border-top: 2px solid #e9eaea;
    padding-left: 15px;
}

.dot-sequence {
    list-style-type: inherit;
    font-family: lato, noto sans, sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    line-height: 55px;
}

.table {
    border-spacing: 0;
    overflow: hidden; 
    font-family: lato, noto sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border-collapse: collapse;
    width: fit-content;
    margin: 0;
    padding: 0;
    margin-left: 40px !important;
    margin-top: 25px !important;
}

.th, td {
    padding: 10px 15px;
    border: 1px solid #555; 
}

.th {
    background-color: #03396c; 
    border-color: #555; 
    color: white;
}

.tr {
    background-color: transparent; 
}

.tr:nth-child(even) {
    background-color: transparent; 
}